@charset "UTF-8";
header{
	height: 100px;
}
.logo {
	font-size: 30px;
	text-align: center;
}
.inputBox{
	height: 50px;
	width: 800px;
}
nav {height: 50px;}
.artistBox{
	border: 1px solid green;
	height: 200px;
	width: 1200px;
}